ADF/pipeline/pl_incrementally_copy_dynamic.json
{
	"name": "pl_incrementally_copy_dynamic",
	"properties": {
		"activities": [
			{
				"name": "lkp_new_watermark_value_customer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.columnname}) as newwatermarkvalue from @{pipeline().parameters.tablename}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sourcedb_customer_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental_copy_customer_table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_new_watermark_value_customer",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_old_watermark_value_customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.tablename} where @{pipeline().parameters.columnname} > '@{activity('lkp_old_watermark_value_customer').output.firstRow.oldwatermarkvalue}' and @{pipeline().parameters.columnname} <= '@{activity('lkp_new_watermark_value_customer').output.firstRow.newwatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sourcedb_customer_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_targetdb_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "update_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incremental_copy_customer_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('lkp_new_watermark_value_customer').output.firstRow.newwatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('lkp_old_watermark_value_customer').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_targetdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkp_old_watermark_value_customer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select tablename, watermarkvalue as oldwatermarkvalue from watermarktable where tablename = '@{pipeline().parameters.tablename}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_targetdb_watermark_table",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			},
			"columnname": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-18T09:41:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}